<!--
    .input-group>input.form-control+span.input-group-btn>button.btn.btn-secondary
 -->


<div class="input-group mb-3">

    <input type="text" 
        class="form-control" 
        placeholder="Search for..." 
        (keydown.enter)="search(queryRef.value)"
        #queryRef>

    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" 
                (click)="search(queryRef.value)">
            Search
        </button>
    </span>
</div>

<!-- https://startbootstrap.com/previews/blog-home/ -->