<div *ngIf="posts?.length else noPostsTpl">

                    <!-- *ng  for( let post of posts) -->
    <div class="card mb-3" *ngFor="let post of posts">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <div class="card-text">{{post.subtitle}}</div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

<ng-template #noPostsTpl>
    <p>No posts found</p>
</ng-template>

<!-- {{ text }}
[style.color]="placki"
[id]="placki"
[posts]="placki"
(click)="funkcja($event)"
#localReferencePlacki
* -->



<!--     
<ng-template [ngIf]="placki">
</ng-template> -->